.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'BioRhymeLight';
  src: url("../../public/BioRhyme-Light.ttf");
}

@font-face {
  font-family: 'BioRhymeReg';
  src: url("../../public/BioRhyme-Regular.ttf");
}

@font-face {
  font-family: 'SpecialElite';
  src: url("../../public/SpecialElite-Regular.ttf");
}

h1{
  font-family: SpecialElite, sans-serif;
  font-size: 3rem;

  @media screen and (min-width: 425px) {
    font-size: 3.5rem;
  }

  @media screen and (min-width: 768px) {
    font-size: 4rem;
  }

  @media screen and (min-width: 960px) {
    font-size: 5.75rem;
  }
}

p{
 font-family: BioRhymeReg;
 font-size: 1rem;

 @media screen and (min-width: 768px) {
  font-size: 1.25rem;
}

 @media screen and (min-width: 1080px) {
  font-size: 1.5rem;
}
}



button, h2, label{
  font-family: 'BioRhymeLight', sans-serif;
  font-size: 1.5rem;
  @media screen and (min-width: 960px) {
    font-size: 2rem;
  }
}